*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
    




::-webkit-scrollbar{
    background: blue;
    width: 0px;
}
::-webkit-scrollbar-thumb{
    background-color: #818181;
    border-radius: 10px;
}








    
.header{
    
    display: flex;
    position: fixed;
    width: 100%;
    column-gap: 35%;
    justify-content: space-evenly;
    height: 130px;
    z-index: 999;
   
}
    
.header .et{
    display: none;
    cursor: pointer;
}

.header .et:hover{
    opacity: 0.8;
}

.mainheader{
    
    display: flex;
    list-style: none;
    column-gap: 40px;
    margin-top: 3rem;
    margin-left: -35%;
    
}
    
.header .mainheader li a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 0px solid red;
 
}
    


.header .mainheader li a{
    --b: 0.1em;   
    --c: #1095c1;
    
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .header .mainheader li a:hover{
    --_p: 100%;
    --_s: .3s;
    --c: #1095c1;
  }
  


.header .mainheader li a:hover{
     
    color: aqua;
    
    
    
 }


.header-scrolled{

background-color:   #000000; ;
}

.dede {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
  }
  

  .overlay-dede {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 50px; 
  }
  

  .dede a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
    
  }
  

  .dede a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  

  
 




.maincontent .content .cont{

text-align: center;

}



.maincontent .mainaciklama .aciklama b{


color: black;


}


.maincontent .mainresimci .resimci img{

border-radius: 10px;

}




.main .slider img{
    height: 59rem;
    
}

.main .slider .buton{
    position: absolute;
    top: 27rem;
    display: flex;
    column-gap: 113rem;
}


.main .slider .buton .icon{
    margin-left: 1rem;
  
}

.main .slider .buton button{
    background: none;
    border: none;
    color: white;
}



.yazi5{
    display: flex;
    flex-wrap: wrap;

}

.logo1{
    width: 50px;
    margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.aciklama{

    text-align: center;
}

.resimler{
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;

}

.resim1, .resim2{
    width: 49%;
    margin-bottom: 3rem;
}

/* açıklama bitiş */

/* card başlangıç */
.card{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    border: 1px solid white;
    
    
    
}
.card1,.card2,.card3,.card4,.card5,.card6 .card-body{
    text-align: center;
    
}

.card1 .buton{
    margin-top: 10%;
}

.card2 .buton{
    margin-top: 10%;
}

.card3 .buton{
    margin-top: 19%;
}
.card4 .buton{
    margin-top: 18%;
}
.card5{    
  
    margin-left: 25%;
}

.card5 .buton{
    margin-top: 5%;
}
.card6 .buton{
    margin-top: 20%;
}



/* card bitiş */


.footer {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }


  @media screen and (max-width:992px) {
    .header ul li{display: none;}
    .header .kapanmicak{display: flex;}
    .header   .et{
        display: flex;
    }
 }

 @media screen and (max-height: 450px) {
    .dede a {font-size: 20px}
  
  }

